/* ################  COMMON STYLING  ######################*/
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
/* line 4, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
* {
  margin: 0;
  padding: 0;
}

/* line 5, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
a {
  text-decoration: none;
}

/* line 6, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
img {
  border: none;
}

/* line 7, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
a:hover {
  text-decoration: none;
}

/* line 8, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
a:focus {
  text-decoration: none;
}

/* line 9, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
a {
  cursor: pointer;
}

/* line 10, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
.row {
  margin: 0;
}

/* line 11, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
.keep-left {
  float: left;
}

/* line 12, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
.keep-right {
  float: right;
}

/* line 14, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
.no-padding {
  padding: 0;
}

/* line 15, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
.no-margin {
  margin: 0;
}

/* line 16, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
.text-center {
  text-align: center;
}

/* line 17, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
.text-left {
  text-align: left;
}

/* line 18, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
.text-right {
  text-align: right;
}

/* line 19, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
.white, .white:hover {
  color: #fff;
}

/* line 20, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
.black, .black:hover {
  color: #000;
}

/* line 22, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h1 {
  font-size: 60px;
}

/* line 23, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h2 {
  font-size: 50px;
  margin: 5% 0;
  text-align: center;
  font-weight: 500;
  font-family: Raleway;
}

/* line 24, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h3 {
  font-size: 40px;
  margin: 5% 0;
  text-align: center;
  font-weight: 500;
  font-family: Raleway;
}

/* line 25, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h4 {
  font-size: 30px;
}

/* line 26, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h5 {
  font-size: 25px;
}

/* line 27, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h6 {
  font-size: 20px;
}

/* line 28, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
p {
  font-size: 16px;
  font-family: "Roboto", serif;
  line-height: 1.8;
  word-spacing: 0.2em;
  font-weight: 300;
}

/* line 31, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h3 a, h2 a, h3 a:hover, h2 a:hover, h3 a:focus, h2 a:focus {
  color: #000;
}

/* ################  END  ######################*/
/* ################  HTML TAG SPECIAL STYLING  ######################*/
/* line 38, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h2.white a {
  color: #000;
}

/* line 39, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h2.black a {
  color: #fff;
}

/* line 40, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h2.border {
  position: relative;
}

/* line 41, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h2.border::before {
  content: "";
  left: 30%;
  position: absolute;
  top: -10px;
  width: 40%;
}

/* line 48, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h2.border::after {
  content: "";
  left: 30%;
  position: absolute;
  bottom: -10px;
  width: 40%;
}

/* line 55, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h2.white.border::after {
  border-bottom: 1px solid #d3d3d3;
}

/* line 56, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h2.white.border::before {
  border-top: 1px solid #d3d3d3;
}

/* line 57, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h2.black.border::after {
  border-bottom: 1px solid #333;
}

/* line 58, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h2.black.border::before {
  border-top: 1px solid #333;
}

/* line 59, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h6.underline {
  position: relative;
  margin: 30px 0 20px;
}

/* line 60, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
h6.underline::after {
  border-top: 1px solid lightgray;
  bottom: -5px;
  content: "";
  font-weight: 300;
  left: 0;
  position: absolute;
  width: 20%;
}

/* line 69, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
a.tip {
  position: relative;
}

/* line 70, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
a.tip span:last-child {
  display: none;
}

/* line 71, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
a.tip:hover span:last-child {
  background-color: #eee;
  border-radius: 5px;
  display: inline-block;
  left: -90px;
  min-width: 200px;
  padding: 5px 20px;
  position: absolute;
  top: -45px;
  z-index: 100;
  color: #555;
  text-align: center;
}

/* line 84, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
a.tip:hover span:last-child::before {
  background-color: #eee;
  bottom: -5px;
  content: "";
  height: 10px;
  left: 50%;
  position: absolute;
  transform: rotate(45deg);
  width: 10px;
}

/* line 95, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
.gray-back {
  background-color: #f5f5f5;
}

/* line 96, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/core.css */
.white-back {
  background-color: #fff;
}

/* ################  END  ######################*/
/* ################  HEADER STYLING  ######################*/
/* line 3, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
#wrapper {
  overflow: hidden;
}

/* line 4, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.banner {
  float: left;
  width: 100%;
  background: transparent url("/images/core/front_cover.jpg") no-repeat fixed 0 0/cover;
  height: 100px;
}

/* line 5, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.header-content {
  padding-top: 2%;
}

/* line 6, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* line 7, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.header-logo {
  padding: 3%;
}

/* line 8, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.header-logo img {
  max-width: 75%;
}

/* line 9, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.menu nav {
  margin: 10px 0;
}

/* line 10, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.footer-logo img {
  max-width: 50%;
}

/* ################  END  ######################*/
/* ################  TOP MENU  ######################*/
/* line 16, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.menu nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em;
}

/* line 30, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.menu nav a:hover,
.menu nav a:focus {
  outline: none;
  color: #38c2d4;
}

/* line 33, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.cl-effect-9 a {
  margin: 0 10px !important;
  /* just to override the menu nav margin */
  padding: 14px 10px 10px;
}

/* line 38, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.cl-effect-9 a::before,
.cl-effect-9 a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  content: '';
  opacity: 0.2;
  -webkit-transition: opacity 0.3s, height 0.3s;
  -moz-transition: opacity 0.3s, height 0.3s;
  transition: opacity 0.3s, height 0.3s;
}

/* line 53, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.cl-effect-9 a::after {
  top: 100%;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* line 64, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.cl-effect-9 a span:first-child {
  display: block;
  font-size: 14px;
  text-align: center;
}

/* line 70, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.cl-effect-9 a span:last-child {
  padding-top: 8px;
  color: rgba(0, 0, 0, 0.4);
  text-transform: none;
  font-style: italic;
  font-size: 12px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* line 86, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.cl-effect-9 a:hover::before,
.cl-effect-9 a:focus::before {
  height: 3px;
}

/* line 89, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.cl-effect-9 a:hover::before,
.cl-effect-9 a:hover::after,
.cl-effect-9 a:focus::before,
.cl-effect-9 a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 98, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/header.css */
.cl-effect-9 a:hover span:last-child,
.cl-effect-9 a:focus span:last-child {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
}

/* ################  END  ######################*/
/* ################  FOOTER STYLING  ######################*/
/* line 3, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.footer-content {
  background-color: #ededed;
}

/* line 4, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.footer-top, .footer-bottom {
  padding-bottom: 1.5%;
  margin-top: 2%;
}

/* line 5, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.footer-top {
  border-bottom: 1px solid;
}

/* line 7, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.footer-content-block div {
  padding: 0 20px;
}

/* line 8, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.footer-content-block div h5 {
  border-bottom: 1px solid;
  padding: 10px 0;
  margin: 20px 0;
  text-align: center;
}

/* line 9, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.footer-content-block div a {
  padding: 5px 0;
  margin: 4px 0;
  width: 100%;
  color: #444;
}

/* line 10, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.footer-content-block div a:hover {
  color: #38c2d4;
}

/* line 11, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.footer-content-block nav {
  max-width: 100%;
  padding-left: 5%;
}

/* line 12, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.footer-content-block nav a {
  display: block;
}

/* line 13, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.copy-right {
  padding: 1% 0 3%;
}

/* line 16, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.footer-top > ul {
  display: block;
  list-style: outside none none;
  text-align: center;
}

/* line 21, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.footer-top > ul li {
  display: inline-block;
  padding: 0.5% 3%;
}

/* line 25, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.footer-top > ul li a {
  color: #888;
  display: block;
  padding: 5px 15px;
}

/* line 30, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.footer-top > ul li a:hover {
  color: #000;
}

/* line 33, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.footer-bottom p {
  display: inline;
  padding-right: 2%;
}

/* line 34, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.footer-bottom {
  text-align: center;
}

/* line 36, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.copy-right p {
  display: inline;
  padding-right: 1%;
  font-size: 14px;
}

/* line 41, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.social-icon {
  display: block;
  text-align: center;
  width: 100%;
}

/* line 46, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.social-icon > a {
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  text-align: center;
  width: 50px;
  margin-right: 1%;
}

/* line 54, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.social-icon a i {
  padding-top: 15px;
  font-size: 20px;
  color: #fff;
}

/* line 59, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.social-icon > a:nth-child(1) {
  background-color: #3b5998;
}

/* line 62, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.social-icon > a:nth-child(2) {
  background-color: #55ACEE;
}

/* line 65, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/footer.css */
.social-icon > a:nth-child(3) {
  background-color: #DD4B38;
}

/* ################  END  ######################*/
/* ################  FOOTER LINKS  ######################*/
/*
.cl-effect-13 a {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.cl-effect-13 a::before {
    position: absolute;
    right: 10%;
    color: #444;
    content: '\2022';
    text-shadow: 0 0 transparent;
    font-size: 1.6em;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}

.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before { color: #38c2d4; text-shadow: 10px 0 #38c2d4, -10px 0 #38c2d4; }

.cl-effect-13 a:hover,
.cl-effect-13 a:focus { color: #ba7700; }

*/
/* ################  END  ######################*/
/* ################  FORM STYLING  ######################*/
/* line 3, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
form#article_form,
form#tag_form,
form#category_form,
form#asset_form,
form#gallery_form {
  padding: 0 3%;
}

/* line 10, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.text-field {
  position: relative;
  margin-bottom: 25px;
}

/* line 14, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.form-black,
.form-white {
  background-color: transparent;
  border: medium none;
  display: block;
  font-size: 14px;
  height: auto;
  letter-spacing: 2px;
  line-height: 1.42587;
  padding: 6px;
  transition: border-color 0.15s ease-in-out 0s;
  width: 100%;
}

/* line 27, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.form-black {
  color: gray;
  border-bottom: 1px solid gray;
}

/* line 31, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.form-black:focus {
  border-bottom: 1px solid #fff;
  color: #fff;
}

/* line 35, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.form-white {
  background: #f6f6f6 none repeat scroll 0 0;
  border: 1px solid #e3e3e3;
  color: #000;
  font-weight: 300;
  padding: 0.5em 1em;
}

/* line 42, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.form-white:focus {
  border-bottom: 1px solid #000;
  color: #000;
}

/* line 46, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.text-field span,
.select-box::after,
.auto-complete::after,
.date-picker::after {
  color: #666;
  font-weight: 300;
  letter-spacing: 1px;
  position: absolute;
  transition: all 0.9s ease 0s;
}

/* line 57, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.text-field span:first-of-type {
  font-size: 14px;
  left: 30px;
  top: 8px;
}

/* line 62, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.text-field span:last-of-type,
.select-box::after,
.auto-complete::after,
.date-picker::after {
  font-size: 12px;
  right: 20px;
  bottom: -18px;
  display: none;
}

/* line 72, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.text-field.has_focus span:first-of-type,
.text-field.has_value span:first-of-type {
  display: none;
}

/* line 77, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.text-field.has_focus span:last-of-type,
.text-field.has_value span:last-of-type {
  display: block;
}

/* line 82, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.select-box,
.auto-complete,
.date-picker {
  position: relative;
  margin-bottom: 25px;
}

/* line 89, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.select-box::after,
.auto-complete::after,
.date-picker::after {
  content: attr(data-content);
  display: block;
}

/* line 95, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.check-box label {
  padding-top: 10px;
  font-weight: normal;
}

/* line 99, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.check-box .switch {
  float: right;
}

/* line 103, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.tinymce-content {
  float: left;
  padding: 0 15px;
  width: 100%;
}

/* line 108, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.file-select {
  text-align: center;
}

/* line 109, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.file-select img {
  max-width: 50px;
}

/* line 110, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.file-select input {
  border: 1px solid #e3e3e3;
  padding: 10px;
  width: 100%;
}

/* line 115, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
#article_article_content_content_ifr {
  height: 300px !important;
}

/* line 116, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.submit-button {
  margin: 3% 0;
}

/* line 119, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/common/form.css */
.submit-button button {
  float: right;
}

/* ################  END  ######################*/
/* ============================================================
  COMMON
============================================================ */
/* line 4, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
.toggle {
  position: absolute;
  visibility: hidden;
}

/* line 15, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
.toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
/* line 24, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-round + label {
  width: 80px;
  height: 40px;
  background-color: #dddddd;
  border-radius: 40px;
}

/* line 30, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-round + label:before,
input.toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

/* line 39, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

/* line 48, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-round + label:after {
  width: 40px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}

/* line 60, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-round:checked + label:before {
  background-color: #8ce196;
}

/* line 63, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-round:checked + label:after {
  margin-left: 40px;
}

/* ============================================================
  SWITCH 2 - ROUND FLAT
============================================================ */
/* line 70, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-round-flat + label {
  width: 80px;
  height: 40px;
  background-color: #dddddd;
  border-radius: 40px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

/* line 80, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-round-flat + label:before,
input.toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

/* line 86, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 40px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

/* line 98, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 34px;
  background-color: #dddddd;
  border-radius: 40px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}

/* line 110, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-round-flat:checked + label {
  background-color: #8ce196;
}

/* line 113, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-round-flat:checked + label:after {
  margin-left: 37px;
  background-color: #8ce196;
}

/* ============================================================
  SWITCH 3 - YES NO
============================================================ */
/* line 121, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-yes-no + label {
  padding: 2px;
  width: 80px;
  height: 40px;
}

/* line 126, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-yes-no + label:before,
input.toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 145, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-yes-no + label:before {
  background-color: #dddddd;
  content: attr(data-off);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}

/* line 154, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-yes-no + label:after {
  background-color: #8ce196;
  content: attr(data-on);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 167, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-yes-no:checked + label:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 174, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/checkbox_style.css */
input.toggle-yes-no:checked + label:after {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}

/* Default custom select styles */
/* line 2, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  z-index: 100;
  width: 100%;
  /*max-width: 500px;*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 19, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
div.cs-select:focus {
  outline: none;
  /* For better accessibility add a style for this in your skin */
}

/* line 23, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-select select {
  display: none;
}

/* line 27, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Placeholder and selected option */
/* line 38, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-select > span {
  padding-right: 3em;
}

/* line 42, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-select > span::after,
.cs-select .cs-selected span::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 52, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-select > span::after {
  content: '\25BE';
  right: 1em;
}

/* line 57, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-select .cs-selected span::after {
  content: '\2713';
  margin-left: 1em;
}

/* line 62, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-select.cs-active > span::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

/* line 67, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
div.cs-active {
  z-index: 200;
}

/* Options */
/* line 72, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-select .cs-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #fff;
  visibility: hidden;
}

/* line 80, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-select.cs-active .cs-options {
  visibility: visible;
}

/* line 84, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 91, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-select ul span {
  padding: 1em;
}

/* line 95, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-select ul li.cs-focus span {
  background-color: #ddd;
}

/* Optgroup and optgroup label */
/* line 100, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-select li.cs-optgroup ul {
  padding-left: 1em;
}

/* line 104, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-select li.cs-optgroup > span {
  cursor: default;
}

/* CSS FOR ELASTIC EFFECT */
/* line 111, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
div.cs-skin-elastic {
  background: transparent;
  font-size: inherit;
  line-height: 1.42587;
  letter-spacing: 2px;
  font-weight: 300;
}

@media screen and (max-width: 30em) {
  /* line 120, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
  div.cs-skin-elastic {
    font-size: 1em;
  }
}
/* line 123, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-skin-elastic > span {
  background-color: #fff;
  z-index: 100;
  text-align: center;
}

/* line 129, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-skin-elastic > span::after {
  /*font-family: 'icomoon';*/
  /*content: '\e005';*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 136, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-skin-elastic .cs-options {
  overflow: visible;
  background: transparent;
  opacity: 1;
  visibility: visible;
  /*padding-bottom: 1.25em;*/
  pointer-events: none;
}

/* line 145, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-skin-elastic.cs-active .cs-options {
  pointer-events: auto;
}

/* line 149, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-skin-elastic .cs-options > ul::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
  background: #fff;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

/* line 165, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-skin-elastic.cs-active .cs-options > ul::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: none;
  transition: none;
  -webkit-animation: expand 0.6s ease-out;
  animation: expand 0.6s ease-out;
}

/* line 174, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-skin-elastic .cs-options ul li {
  opacity: 0;
  -webkit-transform: translate3d(0, -25px, 0);
  transform: translate3d(0, -25px, 0);
  -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
  transition: opacity 0.15s, transform 0.15s;
}

/* line 182, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-skin-elastic.cs-active .cs-options ul li {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-transition: none;
  transition: none;
  -webkit-animation: bounce 0.6s ease-out;
  animation: bounce 0.6s ease-out;
  text-align: center;
}

/* line 193, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-skin-elastic .cs-options span {
  background-repeat: no-repeat;
  background-position: 1.5em 50%;
  background-size: 2em auto;
  /*padding: 0.8em 1em 0.8em 4em;*/
  padding-left: 0;
}

/* line 201, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-skin-elastic .cs-options .cs-selected span::after {
  content: '';
}

@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
    transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
    transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
    transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* END */
/* CUSTOM CSS FOR KATO FRESH*/
/* line 243, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
div.cs-skin-elastic {
  line-height: 1;
}

/* line 244, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
span.cs-placeholder {
  border-width: 2px 2px 1px 1px;
  border-style: solid;
  border-color: #38c2d4 #38c2d4 #000000 #000000;
}

/* line 245, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-options ul li:hover {
  background-color: #ddd;
  color: #0066cc;
}

/* line 246, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-options ul li {
  background-color: #eee;
  text-transform: capitalize;
}

/* line 247, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-active > span {
  background-color: #aaa !important;
  color: #fff !important;
  transition: background-color 0.5s linear !important;
}

/* line 248, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/cs-select.css */
.cs-select > span {
  background-color: #eee;
  color: #000;
  transition: background-color 0.3s linear;
}

/*END*/
/* line 1, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar {
  width: 280px;
  height: 330px;
}

/* line 5, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-modal {
  display: none;
  position: absolute;
  background: #fdfdfd;
  border: 1px solid #e8e8e8;
  box-shadow: 1px 2px 3px #ddd;
}

/* line 12, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-inner {
  position: relative;
  z-index: 1;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}

/* line 24, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-views {
  transform-style: preserve-3d;
}

/* line 27, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar .view {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  *overflow: hidden;
  -webkit-transition: .6s;
  transition: .6s;
}

/* line 36, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-d .view-month,
.calendar-m .view-date {
  transform: rotateY(180deg);
  visibility: hidden;
  z-index: 1;
}

/* line 42, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-d .view-date,
.calendar-m .view-month {
  transform: rotateY(0deg);
  visibility: visible;
  z-index: 2;
}

/* line 48, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-ct,
.calendar-hd,
.calendar-views .week,
.calendar-views .days {
  overflow: hidden;
}

/* line 54, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-views {
  width: 100%;
}

/* line 57, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar .view,
.calendar-display,
.calendar-arrow .prev,
.calendar .date-items li {
  float: left;
}

/* line 63, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-arrow,
.calendar-arrow .next {
  float: right;
}

/* line 67, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-hd {
  padding: 10px 0;
  height: 45px;
  line-height: 30px;
}

/* line 72, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-display {
  font-size: 28px;
  text-indent: 10px;
}

/* line 76, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.view-month .calendar-hd {
  padding: 10px;
}

/* line 79, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-arrow,
.calendar-display {
  color: #ddd;
}

/* line 83, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar li[disabled] {
  color: #bbb;
}

/* line 86, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar li.old[disabled],
.calendar li.new[disabled] {
  color: #eee;
}

/* line 90, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-display .m,
.calendar-views .week,
.calendar-views .days .old,
.calendar-views .days .new,
.calendar-display:hover,
.calendar-arrow span:hover {
  color: #888;
}

/* line 99, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-arrow span,
.calendar-views .days li[data-calendar-day],
.calendar-views .view-month li[data-calendar-month] {
  cursor: pointer;
}

/* line 104, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar li[disabled] {
  cursor: not-allowed;
}

/* line 108, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-arrow {
  width: 50px;
  margin-right: 10px;
}

/* line 112, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-arrow span {
  font: 500 26px sans-serif;
}

/* line 116, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar ol li {
  position: relative;
  float: left;
  text-align: center;
  border-radius: 50%;
}

/* line 122, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar .week li,
.calendar .days li {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

/* line 128, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar .month-items li {
  width: 70px;
  height: 70px;
  line-height: 70px;
}

/* line 133, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar .days li[data-calendar-day]:hover,
.calendar .view-month li[data-calendar-month]:hover {
  background: #eee;
}

/* line 137, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar .calendar-views .now {
  color: #fff;
  background: #66be8c !important;
}

/* line 141, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar .calendar-views .selected {
  color: #66be8c;
  background: #CDE9D9 !important;
}

/* line 145, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar .calendar-views .dot {
  position: absolute;
  left: 50%;
  bottom: 4px;
  margin-left: -2px;
  width: 4px;
  height: 4px;
  background: #66be8c;
  border-radius: 50%;
}

/* line 155, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-views .now .dot {
  background: #fff;
}

/* line 159, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar .date-items {
  width: 300%;
  margin-left: -100%;
}

/* line 164, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-label {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 5px 10px;
  line-height: 22px;
  color: #fff;
  background: #000;
  border-radius: 3px;
  opacity: .7;
  filter: alpha(opacity=70);
}

/* line 178, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.calendar-label i {
  display: none;
  position: absolute;
  left: 50%;
  bottom: -12px;
  width: 0;
  height: 0;
  margin-left: -3px;
  border: 6px solid transparent;
  border-top-color: #000;
}

/* ################  CUSTOM CSS FOR DIV POSITIONING  ######################*/
/* line 192, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
#download_form {
  font: 500 14px 'roboto';
}

/* line 195, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 200, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
#demo {
  width: 300px;
  margin: 150px auto;
}

/* line 204, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
#download_form input[type="text"] {
  border: 1px solid #ccc;
  outline: medium none;
  text-align: center;
}

/* line 209, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
#to-date-field, #from-date-field, #display-date-field {
  left: 15px !important;
  top: 34px !important;
}

/* line 213, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/calendar.css */
.days > li {
  border-bottom: 1px solid #66be8c;
  border-top: 1px solid #66be8c;
  color: black;
}

/* ################  BUTTON-1  ######################*/
/* line 1, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/core.css */
.link-1, .link-3 {
  display: block;
  position: relative;
  font-size: 14px;
}

/* line 7, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/core.css */
.button-1 {
  min-width: 150px;
  max-width: 250px;
  display: block;
  background: none;
  margin: 1em;
  padding: 1em 2em;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  font-size: 14px;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

/* line 22, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/core.css */
button.small {
  max-width: 200px !important;
  min-width: 100px !important;
  height: 50px !important;
}

/*  Antiman  */
/* line 3, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/antiman.css */
.button-antiman {
  background: none;
  color: #fff;
  border: none;
  height: 60px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

/* line 13, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/antiman.css */
.button-antiman:hover {
  color: #7986cb;
}

/* line 16, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/antiman.css */
.button-antiman > span {
  padding-left: 1em;
}

/* line 19, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/antiman.css */
.button-antiman::before, .button-antiman::after {
  content: '';
  z-index: -1;
  border-radius: inherit;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

/* line 35, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/antiman.css */
.button-antiman::before {
  border: 1.5px solid #7986cb;
  opacity: 0;
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}

/* line 41, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/antiman.css */
.button-antiman::after {
  background: #7986cb;
}

/* line 44, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/antiman.css */
.button-antiman:hover::before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* line 49, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/antiman.css */
.button-antiman:hover::after {
  opacity: 0;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
}

/* ################  END  ######################*/
/*  Rayen  */
/* line 4, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/rayen.css */
.button-rayen {
  border: 1.5px solid;
  font-weight: 300;
  font-size: 18px;
  overflow: hidden;
  padding: 0;
  color: #7986cb;
  font-family: raleway;
}

/* line 13, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/rayen.css */
.button-rayen::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #7986cb;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 25, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/rayen.css */
.button-rayen > span {
  display: block;
}

/* line 28, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/rayen.css */
.button-rayen::before,
.button-rayen > span {
  padding: 0.8em 1.5em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

/* line 36, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/rayen.css */
.button-rayen:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 40, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/rayen.css */
.button-rayen:hover > span {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

/* ################  END  ######################*/
/* line 1, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/link_1.css */
.link-1 {
  border: 1px solid #2071ee;
  line-height: 1;
  margin: 10px;
  max-width: 150px;
  min-width: 125px;
  padding: 15px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 3px;
  transition: background-color 300ms linear 0s, color 500ms ease 0s;
  background-color: transparent;
  color: #2071ee;
}

/* line 15, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/button/link_1.css */
.link-1:hover {
  background-color: #2071ee;
  color: #fff;
}

/* Example tokeninput style #1: Token vertical list*/
/* line 2, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
ul.token-input-list {
  overflow: hidden;
  height: 42px;
  width: 100%;
  border: 1px solid #999;
  cursor: text;
  font-size: 12px;
  z-index: 999;
  margin: 0;
  padding: 0;
  background-color: #fff;
  list-style-type: none;
  clear: left;
}

/* line 17, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
ul.token-input-list li {
  list-style-type: none;
}

/* line 21, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
ul.token-input-list li.token-input-input-token {
  display: inline;
}

/* line 25, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
ul.token-input-list li input {
  border: 0;
  width: 45px;
  padding: 3px 8px;
  background-color: white;
  -webkit-appearance: caret;
  min-height: 40px;
  position: absolute;
  top: 1px;
}

/* line 37, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
li.token-input-token {
  overflow: hidden;
  height: auto !important;
  height: 1%;
  margin: 3px;
  padding: 6px 8px;
  background-color: #4aa3df;
  color: #fff;
  font-weight: bold;
  cursor: grab;
  display: inline-block;
  border-radius: 3px;
}

/* line 51, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
li.token-input-token p {
  float: left;
  padding: 0;
  margin: 0;
}

/* line 57, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
li.token-input-token span {
  float: right;
  color: #000;
  cursor: pointer;
  font-size: 15px;
  padding: 0 4px 0 10px;
}

/* line 65, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
li.token-input-selected-token {
  background-color: #08844e;
  color: #fff;
}

/* line 70, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
li.token-input-selected-token span {
  color: #bbb;
}

/* line 74, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
div.token-input-dropdown {
  position: absolute;
  width: 400px;
  background-color: #fff;
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: default;
  font-size: 12px;
  font-family: Verdana;
  z-index: 1;
}

/* line 88, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
div.token-input-dropdown p {
  margin: 0;
  padding: 5px;
  font-weight: bold;
  color: #777;
}

/* line 95, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
div.token-input-dropdown ul {
  margin: 0;
  padding: 0;
}

/* line 100, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
div.token-input-dropdown ul li {
  background-color: #fff;
  padding: 3px;
  list-style-type: none;
}

/* line 106, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
div.token-input-dropdown ul li.token-input-dropdown-item {
  background-color: #fafafa;
}

/* line 110, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
div.token-input-dropdown ul li.token-input-dropdown-item2 {
  background-color: #fff;
}

/* line 114, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
div.token-input-dropdown ul li em {
  font-weight: bold;
  font-style: normal;
}

/* line 119, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/token-input.css */
div.token-input-dropdown ul li.token-input-selected-dropdown-item {
  background-color: #d0efa0;
}

/* ################  ARTICLE LISTING PAGE  ######################*/
/* line 14, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/admin.scss */
.article-list-block {
  margin: 1.5% 0;
}

/* line 15, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/admin.scss */
.article-content {
  height: 125px;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
}

/* line 21, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/admin.scss */
.article-content-true {
  background: #66cc99 none repeat scroll 0 0;
  border: 1px solid #00B16A;
}

/* line 25, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/admin.scss */
.article-content-false {
  background: #F1A9A0 none repeat scroll 0 0;
  border: 1px solid #CF000F;
}

/* line 29, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/admin.scss */
.article-content h4 {
  margin: 0 0 20px;
  min-height: 63px;
  text-align: center;
}

/* line 34, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/admin.scss */
.article-content p {
  margin: 0;
  text-align: right;
}

/* ################  END  ######################*/
/* ################  ASSET LISTING  ######################*/
/* line 43, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/admin.scss */
.download-block {
  text-align: center;
  margin-bottom: 10px;
}

/* line 44, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/admin.scss */
.download-block a {
  display: inline-block;
}

/* line 45, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/admin.scss */
.download-block p {
  font-size: 15px;
  margin: 10px 0;
}

/* ################  END  ######################*/
/* ################  COMMON ADMIN STYLING ######################*/
/* line 51, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/admin.scss */
.new-button {
  text-align: right;
}

/* line 52, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/admin.scss */
.new-button .link-1 {
  display: inline-block;
}

/* ################  END  ######################*/
/* line 56, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/admin.scss */
.preview_img, .preview_icon, .preview_gallery {
  height: 117px;
  background-position: center center;
  object-fit: cover;
  width: 99px;
}

/* line 62, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/admin.scss */
.preview_img {
  border: 1px solid #ccc;
}

/* line 65, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/admin.scss */
.preview-image {
  text-align: center;
}

/* line 66, /Users/lokesh/Desktop/application/kato-redesign/live/app/assets/stylesheets/admin.scss */
.preview-image img {
  visibility: hidden;
  text-align: center;
  height: 75px;
}
