<%#= stylesheet_link_tag 'site/service' %>

<% page_title "Events" %>

<div class="events col-md-12 col-sm-12 col-xs-12 no-padding">

  <h2 class="white border"><a>Our Events</a></h2>
  <div class="event-block col-md-12 col-sm-12 col-xs-12 no-padding white-back">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="event-block col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="container no-padding">
            <div class="row no-margin">

              <div class="event-content col-md-12 col-sm-12 col-xs-12">

                <div class="img-block col-md-5 col-sm-12 col-xs-12 no-padding">
                  <img src="/images/1.jpg">
                </div>

                <div class="text-block col-md-7 col-sm-12 col-xs-12 no-padding">
                  <h4>AAYUDH'16</h4>
                  <p>Aayudh is the annual Robotic competition conducted by Katomaran Robotics. Stepping on its inaugural edition, Aayudh aims on laying the basic platform for the upcoming generation of Engineers to exhibit their skills on stuff that works without man power.</p>
                  <a href="/download/aayudh'16-ps" title="Aayudh-problem-statement.pdf"><span>Download Problem Statement</span></a>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<style>
    .event-content{
        padding: 3%;
    }
    .img-block img{
        max-width: 90%;
    }
    .text-block a{
        float: right;
    }
</style>