
<div class="write-us col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="container no-padding">
    <div class="row">

      <div class="write-us-block col-md-12 col-sm-12 col-xs-12 no-padding">
        <h2><a class="border white">Get in Touch</a></h2>

        <div class="form-left col-md-6 col-sm-6 col-xs-12">
          <form role="form" name="myForm">
            <div class="form-group">
              <p><input type="text" class="form-black" id="write_us_name" placeholder="NAME" /></p>
            </div>

            <div class="form-group">
              <p><input type="text" class="form-black" id="write_us_email" placeholder="EMAIL-ID"/></p>
            </div>

            <div class="form-group">
              <p><input type="text" class="form-black" id="write_us_subject" placeholder="SUBJECT"/></p>
            </div>
          </form>
        </div>

        <div class="form-right col-md-6 col-sm-6 col-xs-12">
          <form role="form" name="myForm">
            <div class="form-group">
              <p><textarea class="form-black" id="write_us_content" placeholder="CONTENT" rows="6"></textarea></p>
            </div>
            <div id="btn-click">
              <!--<span class="btn btn-5 btn-5c icon-arrow-right btn-small keep_right" id="mail_submit"><span>SEND</span></span>-->
              <button class="btn btn-5 btn-5c btn-small keep_right icon-send" id="mail_submit"><span>SEND</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
