<%= stylesheet_link_tag "site/home" %>
<div class="services col-md-12 col-sm-12 col-xs-12 no-padding">

  <h2 class="white border"><a>What we offer</a></h2>
  <div class="service-block-right col-md-12 col-sm-12 col-xs-12 no-padding white-back">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="services-content col-md-12 col-sm-12 col-xs-12">

          <div class="img-block col-md-4 col-sm-12 col-xs-12 no-padding">
            <!--<img src="/images/1.jpg">-->
            <i class="fa fa-cube fa-lg fa1"></i>
          </div>
          <div class="text-block col-md-8 col-sm-12 col-xs-12 no-padding">
            <h4>BootCamps</h4>
            <p>Bootcamp/Workshop is a short term class over a span of 1-3 days. Here Students are split into groups and they are provided with a Robotic theory and the hardware to achieve that. Our Engineers will maneuver your students to give the theory a shape. Bootcamp/Workshop is a short term class over a span of 1-3 days. Here Students are split into groups and they are provided with a Robotic theory and the hardware to achieve that. Our Engineers will maneuver your students to give the theory a shape.</p>
            <div class="know-more-button">
              <%= custom_link_1("Know More", "/our-services#boot-camp", "link-1") %>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="service-block-left col-md-12 col-sm-12 col-xs-12 no-padding gray-back">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="services-content col-md-12 col-sm-12 col-xs-12">

          <div class="img-block col-md-4 col-sm-12 col-xs-12 no-padding">
            <!--<img src="/images/1.jpg">-->
            <i class="fa fa-cube fa-lg fa1"></i>
          </div>
          <div class="text-block col-md-8 col-sm-12 col-xs-12 no-padding">
            <h4>Foundations</h4>
            <p>Bootcamp/Workshop is a short term class over a span of 1-3 days. Here Students are split into groups and they are provided with a Robotic theory and the hardware to achieve that. Our Engineers will maneuver your students to give the theory a shape. Bootcamp/Workshop is a short term class over a span of 1-3 days. Here Students are split into groups and they are provided with a Robotic theory and the hardware to achieve that. Our Engineers will maneuver your students to give the theory a shape.</p>
            <div class="know-more-button">
              <%= custom_link_1("Know More", "/our-services#foundation", "link-1") %>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="service-block-right col-md-12 col-sm-12 col-xs-12 no-padding white-back">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="services-content col-md-12 col-sm-12 col-xs-12">

          <div class="img-block col-md-4 col-sm-12 col-xs-12 no-padding">
            <!--<img src="/images/1.jpg">-->
            <i class="fa fa-cube fa-lg fa1"></i>
          </div>
          <div class="text-block col-md-8 col-sm-12 col-xs-12 no-padding">
            <h4>R & D</h4>
            <p>Bootcamp/Workshop is a short term class over a span of 1-3 days. Here Students are split into groups and they are provided with a Robotic theory and the hardware to achieve that. Our Engineers will maneuver your students to give the theory a shape. Bootcamp/Workshop is a short term class over a span of 1-3 days. Here Students are split into groups and they are provided with a Robotic theory and the hardware to achieve that. Our Engineers will maneuver your students to give the theory a shape.</p>
            <div class="know-more-button">
              <%= custom_link_1("Know More", "/our-services#r&d", "link-1") %>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="servies-query col-md-12 col-sm-12 col-xs-12 no-padding gray-back">
    <div class="container no-padding">
      <div class="row no-margin">
        <div class="query-content">
          <h4>Need More Info...?</h4>
          <p>Try to get in touch with our engineers. We will clarify your queries.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="showcase col-md-12 col-sm-12 col-xs-12 no-padding">

  <h2 class="white border"><a>Our Show-Case</a></h2>
  <div class="showcase-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row">

        <div class="grid">

          <div class="showcase-content col-md-12 col-sm-12 col-xs-12" id="first">
            <div class="figure col-md-5 col-sm-5 col-xs-12 img-block no-padding">
              <figure class="effect-sadie">
                <img src="images/11.jpg" alt="img02"/>
                <figcaption>
                  <h4><span>KCT</span> Embedded Basics</h4>
                  <p>Insipiring the Young Minds</p>
                  <a href="#">View more</a>
                </figcaption>
              </figure>
            </div>
            <div class="content col-md-7 col-sm-7 col-xs-12 img-block no-padding">
              <h4>KCT Basics Workshop</h4>
              <p>this is just the description text for seeing the content</p>
            </div>
            <div class="all-images col-md-7 col-sm-7 col-xs-12 img-block no-padding">
              <div class="figure col-md-4 col-sm-4 col-xs-12 img-block no-padding">
                <figure class="effect-sadie">
                  <img src="images/11.jpg" alt="img02"/>
                  <figcaption>
                    <p>Insipiring the Young Minds</p>
                    <a href="#">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="figure col-md-4 col-sm-4 col-xs-12 img-block no-padding">
                <figure class="effect-sadie">
                  <img src="images/11.jpg" alt="img02"/>
                  <figcaption>
                    <p>Insipiring the Young Minds</p>
                    <a href="#">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="figure col-md-4 col-sm-4 col-xs-12 img-block no-padding">
                <figure class="effect-sadie">
                  <img src="images/11.jpg" alt="img02"/>
                  <figcaption>
                    <p>Insipiring the Young Minds</p>
                    <a href="#">View more</a>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>

          <div class="showcase-content col-md-12 col-sm-12 col-xs-12" id="second">

            <div class="figure col-md-5 col-sm-5 col-xs-12 img-block no-padding">
              <figure class="effect-sadie">
                <img src="images/12.jpg" alt="img14"/>
                <figcaption>
                  <h4><span>KCT</span> Embedded Advanced</h4>
                  <p>Passion is what made them come back to us</p>
                  <a href="#">View more</a>
                </figcaption>
              </figure>
            </div>
            <div class="content col-md-7 col-sm-7 col-xs-12 img-block no-padding">
              <h4>KCT Basics Workshop</h4>
              <p>this is just the description text for seeing the content</p>
            </div>
            <div class="all-images col-md-7 col-sm-7 col-xs-12 img-block no-padding">
              <div class="figure col-md-4 col-sm-4 col-xs-12 img-block no-padding">
                <figure class="effect-sadie">
                  <img src="images/12.jpg" alt="img14"/>
                  <figcaption>
                    <p>Passion is what made them come back to us</p>
                    <a href="#">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="figure col-md-4 col-sm-4 col-xs-12 img-block no-padding">
                <figure class="effect-sadie">
                  <img src="images/12.jpg" alt="img14"/>
                  <figcaption>
                    <p>Passion is what made them come back to us</p>
                    <a href="#">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="figure col-md-4 col-sm-4 col-xs-12 img-block no-padding">
                <figure class="effect-sadie">
                  <img src="images/12.jpg" alt="img14"/>
                  <figcaption>
                    <p>Passion is what made them come back to us</p>
                    <a href="#">View more</a>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="write-us col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="container no-padding">
    <div class="row">

      <div class="write-us-block col-md-12 col-sm-12 col-xs-12 no-padding">
        <h2 class="border black"><a>Get in Touch</a></h2>

        <div class="form-left col-md-6 col-sm-6 col-xs-12">
          <form role="form" name="myForm">
            <div class="form-group">
              <p><input type="text" class="form-black" id="write_us_name" placeholder="NAME" /></p>
            </div>

            <div class="form-group">
              <p><input type="text" class="form-black" id="write_us_email" placeholder="EMAIL-ID"/></p>
            </div>

            <div class="form-group">
              <p><input type="text" class="form-black" id="write_us_subject" placeholder="SUBJECT"/></p>
            </div>
          </form>
        </div>

        <div class="form-right col-md-6 col-sm-6 col-xs-12">
          <form role="form" name="myForm">
            <div class="form-group">
              <p><textarea class="form-black" id="write_us_content" placeholder="CONTENT" rows="6"></textarea></p>
            </div>
            <div id="btn-click">
              <!--<span class="btn btn-5 btn-5c icon-arrow-right btn-small keep_right" id="mail_submit"><span>SEND</span></span>-->
              <button class="btn btn-5 btn-5c btn-small keep_right icon-send" id="mail_submit"><span>SEND</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<style>
    .showcase-content{
        position: relative;
        overflow: hidden;
    }
    .showcase-content .content {
        padding-top: 10%;
        text-align: center;
        transition:all 0.4s linear 0s;
    }
    .showcase-content:hover .content{
        padding: 1%;
    }
    .showcase-content:hover .all-images{
        bottom: 0;
    }
    .showcase-content .all-images {
        bottom: -50%;
        right: 0;
        position: absolute;
        transition: all 0.4s linear 0s;
    }
    .all-images .effect-sadie p {
        font-size: 10px;
    }
</style>