<%= stylesheet_link_tag 'site/blog' %>
<div class="blogs col-md-12 col-sm-12 col-xs-12 no-padding">

  <h2 class="white border"><a>Our Blog</a></h2>
  <div class="container no-padding">
    <div class="row no-margin">

      <div class="blog col-md-12 col-sm-12 col-xs-12">

        <div class="blog-content col-md-4 col-sm-6 col-xs-12">
          <h4>Article Title</h4>
          <p>this is the test descriptionf ro teadf safas safas sffasfvdasff asf asfs asfqrsda as s</p>
        </div>
      </div>

    </div>
  </div>
</div>
