<div class="services col-md-12 col-sm-12 col-xs-12 no-padding">

  <h2 class="white border"><a>Our Services</a></h2>
  <div class="service-block-right col-md-12 col-sm-12 col-xs-12 no-padding white-back" id="boot-camp">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="services-content col-md-12 col-sm-12 col-xs-12">

          <div class="img-block col-md-4 col-sm-12 col-xs-12 no-padding">
            <!--<img src="/images/1.jpg">-->
            <i class="fa fa-cube fa-lg fa1"></i>
          </div>
          <div class="text-block">
            <h4>BootCamps</h4>
            <p>A Bootcamp is a short term training programme. The duration of this event might vary between 2 to 5 days based on the demand of our students and the content of the formulated course. Students can opt to join our Bootcamp by either enrolling themselves with the register button that we have in a random space of our website or by associating with the Hosting management. Camp schedules are continuously updated on our website and regarding data can be gathered by frequently visiting this online location. In this event, students are split into multiple teams of equal strength both physically and mentally. Katomaran trainers will provide the students, the theories, statistics and data on the concerned programme and the students are anticipated to travel a journey where they listen, see, visualize and implement Robotics with some support that they gain from electronic hardware provided. Competitive nature of our events makes the journey more interesting and at the end of this event, students start waiting for our next event to start again. We also understand that students hate to attend trainings on Sundays and try to keep Sundays out of our schedules, although this is not a commitment.</p>
            <p>So students, Check us first before checking on Google if you are interested to learn Robotics.</p>
            <h5>Formulated Courses</h5>
            <ul>
              <li>Embedded Hands-on Workshop - Basic ( <a href="/download/second" title="Embedded-basic.pdf"><span>Download Package</span></a> )</li>
              <li>Embedded Hands-on Workshop - Advanced ( <a href="/download/advanced" title="Embedded-advanced.pdf"><span>Download Package</span></a> )</li>
            </ul>
            <h6 class="underline">Embedded Hands-on Workshop - Basic</h6>
            <p>A Bootcamp is a short term training programme. The duration of this event might vary between 2 to 5 days based on the demand of our students and the content of the formulated course. Students can opt to join our Bootcamp by either enrolling themselves with the register button that we have in a random space of our website or by associating with the Hosting management. Camp schedules are continuously updated on our website and regarding data can be gathered by frequently visiting this online location. In this event, students are split into multiple teams of equal strength both physically and mentally. Katomaran trainers will provide the students, the theories, statistics and data on the concerned programme and the students are anticipated to travel a journey where they listen, see, visualize and implement Robotics with some support that they gain from electronic hardware provided. </p>
            <h6 class="underline">Embedded Hands-on Workshop - Advanced</h6>
            <p>A Bootcamp is a short term training programme. The duration of this event might vary between 2 to 5 days based on the demand of our students and the content of the formulated course. Students can opt to join our Bootcamp by either enrolling themselves with the register button that we have in a random space of our website or by associating with the Hosting management. Camp schedules are continuously updated on our website and regarding data can be gathered by frequently visiting this online location. In this event, students are split into multiple teams of equal strength both physically and mentally. Katomaran trainers will provide the students, the theories, statistics and data on the concerned programme and the students are anticipated to travel a journey where they listen, see, visualize and implement Robotics with some support that they gain from electronic hardware provided. </p>

          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="service-block-left col-md-12 col-sm-12 col-xs-12 no-padding gray-back" id="foundation">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="services-content col-md-12 col-sm-12 col-xs-12">

          <div class="img-block col-md-4 col-sm-12 col-xs-12 no-padding">
            <!--<img src="/images/1.jpg">-->
            <i class="fa fa-cube fa-lg fa1"></i>
          </div>
          <div class="text-block">
            <h4>Foundations</h4>
            <p>A Foundation is a long-term Laboratory-type training programme. The duration of this might vary between 4 to 6 months based on the demand of Hosting Management and the content of the formulated course. Students can opt for a Foundation only by associating with the Hosting Management and outsiders are strictly not allowed to participate in this event. Foundation is a kind of regular laboratory classes run in schools and colleges. Amounts of syllabus for the course and hours to be handled are pre-planned by Katomaran Robotics in agreement with the Hosting Management before the start of this long term activity. Schedule for the event will be released only by the Hosting Management. Students can still collect data on the ongoing foundation by checking our website. Katomaran Trainers will become a part of every attendee's academic life by connecting with them at regular intervals of time and causing them to build a vast variety of Robotics projects under numerous domains which can be further developed into efficiency yielding applications. Students become individualistic in such events boosting their confidence and build their own robots accepting all credits on their own. We not only teach students to build robots but also the skill of building them fast so that they can be competent in any environment they are pushed into in their future. </p>
            <p>We know that traditional Lab classes are sometimes boring and there is one thing we can assure from our side; we are not Old School.</p>
            <h5>Formulated Courses</h5>
            <ul>
              <li>Embedded Hands-on Workshop - Basic ( <a href="/download/second" title="Embedded-basic.pdf"><span>Download Package</span></a> )</li>
              <li>Embedded Hands-on Workshop - Advanced ( <a href="/download/advanced" title="Embedded-advanced.pdf"><span>Download Package</span></a> )</li>
            </ul>
            <h6 class="underline">Embedded Hands-on Workshop - Basic</h6>
            <p>A Bootcamp is a short term training programme. The duration of this event might vary between 2 to 5 days based on the demand of our students and the content of the formulated course. Students can opt to join our Bootcamp by either enrolling themselves with the register button that we have in a random space of our website or by associating with the Hosting management. Camp schedules are continuously updated on our website and regarding data can be gathered by frequently visiting this online location. In this event, students are split into multiple teams of equal strength both physically and mentally. Katomaran trainers will provide the students, the theories, statistics and data on the concerned programme and the students are anticipated to travel a journey where they listen, see, visualize and implement Robotics with some support that they gain from electronic hardware provided. </p>
            <h6 class="underline">Embedded Hands-on Workshop - Advanced</h6>
            <p>A Bootcamp is a short term training programme. The duration of this event might vary between 2 to 5 days based on the demand of our students and the content of the formulated course. Students can opt to join our Bootcamp by either enrolling themselves with the register button that we have in a random space of our website or by associating with the Hosting management. Camp schedules are continuously updated on our website and regarding data can be gathered by frequently visiting this online location. In this event, students are split into multiple teams of equal strength both physically and mentally. Katomaran trainers will provide the students, the theories, statistics and data on the concerned programme and the students are anticipated to travel a journey where they listen, see, visualize and implement Robotics with some support that they gain from electronic hardware provided. </p>

          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="service-block-right col-md-12 col-sm-12 col-xs-12 no-padding white-back" id="r&d">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="services-content col-md-12 col-sm-12 col-xs-12">

          <div class="img-block col-md-4 col-sm-12 col-xs-12 no-padding">
            <!--<img src="/images/1.jpg">-->
            <i class="fa fa-cube fa-lg fa1"></i>
          </div>
          <div class="text-block">
            <h4>R & D</h4>
            <p>Research and Development is the ultimate destination of Katomaran Robotics. R&D department is targeted towards generating innovative ideas from young Engineers, examining them and evolving some of the valid ideas into reality. Engineers of Katomaran Robotics share their knowledge and experience in R&D to the Interns of Katomaran and direct them towards a proper path. This wing of Katomaran robotics is still being established and interested candidates are requested to get in touch with Katomaran Robotics team to get more data concerning R&D. </p>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
