<div class="showcase col-md-12 col-sm-12 col-xs-12 no-padding gray-back">

  <h2 class="white border"><a>Our Show-Case</a></h2>
  <div class="showcase-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row">

        <div class="grid">

          <div class="showcase-content col-md-12 col-sm-12 col-xs-12">

            <h5>KCT Embedded Basics</h5>
            <div class="figure col-md-4 col-sm-4 col-xs-12 img-block no-padding">
              <figure class="effect-milo">              <img src="images/11.jpg" alt="img02"/>
                <figcaption>
                  <h5><span>KCT</span> Embedded Basics</h5>
                  <p>Insipiring the Young Minds</p>
                  <a href="#">View more</a>
                </figcaption>
              </figure>
            </div>

            <div class="figure col-md-4 col-sm-4 col-xs-12 img-block no-padding">
              <figure class="effect-milo">
                <img src="images/11.jpg" alt="img02"/>
                <figcaption>
                  <h5><span>KCT</span> Embedded Basics</h5>
                  <p>Insipiring the Young Minds</p>
                  <a href="#">View more</a>
                </figcaption>
              </figure>
            </div>

            <div class="figure col-md-4 col-sm-4 col-xs-12 img-block no-padding">
              <figure class="effect-milo">
                <img src="images/12.jpg" alt="img14"/>
                <figcaption>
                  <h5><span>KCT</span> Embedded Advanced</h5>
                  <p>Passion is what made them come back to us</p>
                  <a href="#">View more</a>
                </figcaption>
              </figure>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
