<%= stylesheet_link_tag "site/show_case" %>

<script type="text/javascript" src="fresco/js/fresco.js"></script>
<link rel="stylesheet" href="fresco/css/fresco.css">

<div class="showcase col-md-12 col-sm-12 col-xs-12 no-padding gray-back">

  <h2 class="white border"><a>Our Show-Case</a></h2>
  <div class="showcase-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <!--<div class="container no-padding">-->

    <div class="row">

      <div id="content" class="container">

        <% @gallery.each do |gallery| %>
            <% gallery.images.by_sequence.each do |img| %>

                <div class="item">
                  <a data-fresco-group="unique_name">
                    <span><%= img.caption.blank? ? img.title : img.caption %></span>
                    <img src="<%= img.location %>" alt="" />
                  </a>
                </div>

            <% end %>
        <% end %>

      </div>

    </div>
  </div>
</div>
