/* ################  Pagination for Blog Page  ######################*/
/* line 5, e:/Documents/Web Apps/katofresh/rails/test/app/assets/stylesheets/site/blog.scss */
.pagination {
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  border-top: 1px solid lightgray;
  display: table;
  margin: 3% 0;
}

/* line 12, e:/Documents/Web Apps/katofresh/rails/test/app/assets/stylesheets/site/blog.scss */
.left-pagination, .right-pagination {
  margin: 0.5% 0;
  padding: 1.5%;
}

/* line 16, e:/Documents/Web Apps/katofresh/rails/test/app/assets/stylesheets/site/blog.scss */
.pagination div:first-of-type {
  border-right: 1px solid lightgray;
}

/* line 19, e:/Documents/Web Apps/katofresh/rails/test/app/assets/stylesheets/site/blog.scss */
.left-pagination {
  padding-left: 5%;
  text-align: left;
}

/* line 23, e:/Documents/Web Apps/katofresh/rails/test/app/assets/stylesheets/site/blog.scss */
.right-pagination {
  padding-right: 5%;
  text-align: right;
}

/* line 27, e:/Documents/Web Apps/katofresh/rails/test/app/assets/stylesheets/site/blog.scss */
.pagination h6 {
  margin-bottom: 0;
}

/* line 30, e:/Documents/Web Apps/katofresh/rails/test/app/assets/stylesheets/site/blog.scss */
.pagination h6 a {
  display: block;
  color: gray;
}

/* line 34, e:/Documents/Web Apps/katofresh/rails/test/app/assets/stylesheets/site/blog.scss */
.pagination h6 a:hover {
  color: #000;
}

/* line 37, e:/Documents/Web Apps/katofresh/rails/test/app/assets/stylesheets/site/blog.scss */
.pagination span {
  font-size: 12px;
  color: #38c2d4;
}

/* line 41, e:/Documents/Web Apps/katofresh/rails/test/app/assets/stylesheets/site/blog.scss */
.left-pagination::before {
  content: "\2039";
  font-size: 50px;
  left: 4%;
  position: absolute;
  top: 8%;
}

/* line 48, e:/Documents/Web Apps/katofresh/rails/test/app/assets/stylesheets/site/blog.scss */
.right-pagination::before {
  content: "\203A";
  font-size: 50px;
  right: 4%;
  position: absolute;
  top: 8%;
}

/* ################  END  ######################*/
