/* ################  FOOTER STYLING  ######################*/

.footer-content{ background-color: #ededed; }
.footer-top, .footer-bottom { padding-bottom: 3%; margin-top: 3%; }
.footer-top { border-bottom: 1px solid; }

.footer-content-block div { padding: 0 20px; }
.footer-content-block div h5{ border-bottom: 1px solid; padding: 10px 0; margin: 20px 0; text-align: center; }
.footer-content-block div a { padding: 5px 0; margin: 4px 0; width: 100%; color: #444; }
.footer-content-block div a:hover { color: #38c2d4; }
.footer-content-block nav { max-width: 100%; padding-left: 5%; }
.footer-content-block nav a { display: block;}
.copy-right {
    padding: 2% 0 4%;
}
.footer-top > ul {
    display: block;
    list-style: outside none none;
    text-align: center;
}
.footer-top > ul li {
    display: inline-block;
    padding: 0.5% 3%;
}
.footer-top > ul li a{
    color: #888;
    display: block;
    padding: 5px 15px;
}
.footer-top > ul li a:hover{
    color: #000;
}
.footer-bottom p{display: inline; padding-right: 2%;}
.footer-bottom {text-align: center;}

.copy-right p {
    display: inline;
    padding-right: 1%;
    font-size: 14px;
}
.social-icon {
    display: block;
    text-align: center;
    width: 100%;
}
.social-icon > a {
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    text-align: center;
    width: 50px;
    margin-right: 1%;
}
.social-icon a i{
    padding-top: 15px;
    font-size: 20px;
    color: #fff;
}
.social-icon > a:nth-child(1) {
    background-color: #3b5998;
}
.social-icon > a:nth-child(2) {
    background-color: #55ACEE;
}
.social-icon > a:nth-child(3) {
    background-color: #DD4B38;
}

/* ################  END  ######################*/

/* ################  FOOTER LINKS  ######################*/
/*
.cl-effect-13 a {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.cl-effect-13 a::before {
    position: absolute;
    right: 10%;
    color: #444;
    content: '\2022';
    text-shadow: 0 0 transparent;
    font-size: 1.6em;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}

.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before { color: #38c2d4; text-shadow: 10px 0 #38c2d4, -10px 0 #38c2d4; }

.cl-effect-13 a:hover,
.cl-effect-13 a:focus { color: #ba7700; }

*/
/* ################  END  ######################*/