/* ################  FOOTER STYLING  ######################*/

.footer-content{ background-color: lightgray; }
.footer-top, .footer-bottom { padding-bottom: 2%; margin-top: 2%; }
.footer-top { border-bottom: 1px solid; }

.footer-content-block div { padding: 0 20px; }
.footer-content-block div h5{ border-bottom: 1px solid; padding: 10px 0; margin: 20px 0; text-align: center; }
.footer-content-block div a { padding: 5px 0; margin: 4px 0; width: 100%; color: #444; }
.footer-content-block div a:hover { color: #38c2d4; }
.footer-content-block nav { max-width: 100%; padding-left: 5%; }
.footer-content-block nav a { display: block;}

/* ################  END  ######################*/


/* ################  FLOATING SOCIAL ICONS  ######################*/

.floater {
    bottom: 0;
    padding-bottom: 1%!important;
    position: fixed;
    right: 6%;
    width: 20%;
    z-index: 1000;
    transition:all 0.4s linear 0s;
}
.floater ul { list-style: outside none none; }
.floater ul li { display: inline-block;  padding: 0 6%;}
.floater ul li a{ color: #888; padding: 0 10px; }
.floater ul li a:hover{ color: #000; }

.override-floater {
    padding-top: 1.5% !important;
    position: static;
}

/* ################  END  ######################*/

/* ################  FOOTER LINKS  ######################*/

.cl-effect-13 a {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.cl-effect-13 a::before {
    position: absolute;
    right: 10%;
    color: #444;
    content: '\2022';
    text-shadow: 0 0 transparent;
    font-size: 1.6em;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}

.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before { color: #38c2d4; text-shadow: 10px 0 #38c2d4, -10px 0 #38c2d4; }

.cl-effect-13 a:hover,
.cl-effect-13 a:focus { color: #ba7700; }

/* ################  END  ######################*/