@import 'common',
'common/form',
'checkbox_style',
'cs-select',
'calendar',
'button/core',
'button/antiman',
'button/rayen',
'button/link_1',
'token-input';

/* ################  ARTICLE LISTING PAGE  ######################*/

.article-list-block { margin: 1.5% 0; }
.article-content{
  height: 125px;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
}
.article-content-true {
  background: #66cc99 none repeat scroll 0 0;
  border: 1px solid #00B16A;
}
.article-content-false{
  background: #F1A9A0 none repeat scroll 0 0;
  border: 1px solid #CF000F;
}
.article-content h4 {
  margin: 0 0 20px;
  min-height: 63px;
  text-align: center;
}
.article-content p {
  margin:0;
  text-align:right;
}

/* ################  END  ######################*/

/* ################  ASSET LISTING  ######################*/

.download-block{ text-align: center; margin-bottom: 10px; }
.download-block a{ display: inline-block; }
.download-block p{ font-size: 15px; margin: 10px 0;}

/* ################  END  ######################*/

/* ################  COMMON ADMIN STYLING ######################*/

.new-button{text-align: right;}
.new-button .link-1{display: inline-block;}

/* ################  END  ######################*/

.preview_img, .preview_icon, .preview_gallery {
  height: 117px;
  background-position: center center;
  object-fit: cover;
  width: 99px;
}
.preview_img {
  border: 1px solid #ccc;
}
.preview-image { text-align: center; }
.preview-image img { visibility: hidden; text-align: center; height: 75px; }