/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* ################  COMMON STYLING  ######################*/

*{margin:0;padding:0;}
a{text-decoration:none;}
img{border:none;}
a:hover{text-decoration:none;}
a:focus{text-decoration:none;}
a{cursor:pointer;}

.keep-left{float:left;}
.keep-right{float:right;}

.no-padding{padding:0;}
.no-margin{margin:0;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.white, .white:hover{color:#fff;}
.black, .black:hover{color:#000;}

h1{font-size: 60px;}
h2{font-size: 50px;margin: 5% 0;text-align: center;font-weight: 500;font-family: Raleway;}
h3{font-size: 40px;}
h4{font-size: 30px;}
h5{font-size: 25px;}
h6{font-size: 20px;}
p{font-size: 14px;}
h3 a, h2 a, h3 a:hover, h2 a:hover, h3 a:focus, h2 a:focus{ color:#000; }

/* ################  END  ######################*/


/* ################  HEADER STYLING  ######################*/

#wrapper{overflow:hidden;}
.banner {float:left;width: 100%; background: rgba(0, 0, 0, 0) url("/images/core/front_cover.jpg") no-repeat fixed 0 0 / cover ;height: 100px; }
.header-content{padding-top: 2%;}
.container{max-width:1160px;margin:0 auto;}
.header-logo { padding: 3%; }
.header-logo img{max-width: 75%;}
.menu nav{margin: 10px 0;}
.footer-logo img{max-width: 50%;}

/* ################  END  ######################*/



.border{position:relative;}
h2 .border:after{content:" ";border-bottom: 2px solid #38c2d4;bottom:-10px;color: #30ca71;left: 35%;position:absolute;width:30%;}
.write-us{background: url('/images/home/footer_bg_image.jpg');float: left;}


/* ################  FORM STYLING  ######################*/
#new_article{padding:0 3%;}
.text-field{
    position:relative;
    margin-bottom:25px;
}
.form-black, .form-white {
    background-color: transparent;
    border: medium none;
    display: block;
    font-size: 14px;
    height: auto;
    letter-spacing: 2px;
    line-height: 1.42587;
    padding: 6px;
    transition: border-color 0.15s ease-in-out 0s;
    width: 100%;
}
.form-black{
    color: gray;
    border-bottom: 1px solid gray;
}
.form-black:focus{
    border-bottom: 1px solid #fff;
    color: #fff;
}
.form-white{
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    color: #000;
    font-weight: 300;
    padding: 0.5em 1em;
}
.form-white:focus{
    border-bottom: 1px solid #000; color: #000;
}

.text-field span{
    color: #666;
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    transition:all 0.9s ease 0s;
}
.text-field span:first-of-type{
    font-size: 14px;
    left: 30px;
    top: 8px;
}
.text-field span:last-of-type{
    font-size: 12px;
    right:20px;
    bottom:-18px;
    display:none;
}
.text-field.has_focus span:first-of-type, .text-field.has_value span:first-of-type{
    display:none;
}
.text-field.has_focus span:last-of-type, .text-field.has_value span:last-of-type{
    display:block;
}

.check-box label{
    padding-top:10px;
    font-weight:normal;
}
.check-box .switch{float:right;}

.tinymce-content {
    float: left;
    padding: 0 15px;
    width: 100%;
}
#article_article_content_content_ifr{
    height:300px!important;
}
.submit-button{text-align:center;}

.custom-link a{display: block;}
.custom-link{display: inline-block;}
.custom-link a button{margin: 0;}
/* ################  END  ######################*/


/* ################  FOOTER STYLING  ######################*/

.footer-content{ background-color: lightgray; }
.footer-top, .footer-bottom { padding-bottom: 2%; margin-top: 2%; }
.footer-top { border-bottom: 1px solid; }
.footer-bottom a{ position: relative;}
.footer-content-block div { padding: 0 20px; }
.footer-content-block div h5{ border-bottom: 1px solid; padding: 10px 0; margin: 20px 0; text-align: center; }
.footer-content-block div a { padding: 5px 0; margin: 4px 0; width: 100%; color: #444; }
.footer-content-block div a:hover { color: #38c2d4; }
.footer-content-block nav { max-width: 100%; padding-left: 5%; }
.footer-content-block nav a { display: block;}

/* ################  END  ######################*/

.floater {
    bottom: 0;
    padding-bottom: 1%!important;
    position: fixed;
    right: 6%;
    width: 20%;
    z-index: 1000;
    transition:all 0.4s linear 0s;
}
.floater ul { list-style: outside none none; }
.floater ul li { display: inline-block;  padding: 0 6%;}
.floater ul li a{ color: #888; padding: 0 10px; }
.floater ul li a:hover{ color: #000; }

.override-floater {
    padding-top: 1.5% !important;
    position: static;
}


/* ################  MEDIA QUERIES  ######################*/

@media only screen and (max-width:480px){
    .header-logo img{max-width: 60%;}
    .header-right{display: none;}
}

/* ################  END  ######################*/


/* ################  ARTICLE LISTING PAGE  ######################*/
.article-list-block {
    margin: 1.5% 0;
}
.article-content{
    min-height: 125px;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
}
.article-content-true {
    background: #66cc99 none repeat scroll 0 0;
    border: 1px solid #00B16A;
}
.article-content-false{
    background: #F1A9A0 none repeat scroll 0 0;
    border: 1px solid #CF000F;
}
.article-content h3 {
    margin: 0 0 20px;
    min-height: 63px;
}
.article-content p {
    margin:0;
    text-align:right;
}
/* ################  END  ######################*/
