.address-block ul{
  padding-left: 3%;
  list-style: none;
}
.address-block li{
  padding-top: 0.5%;
}
.address-block li i{
  padding-right: 3%;
}
.social-media{
  list-style: none;
  text-align: center;
}
.social-media li{
  padding-top: 5px;
  transition:all 0.3s ease 0s;
}
.social-media li:hover{
  padding-top: 0;
}
.social-media li a{
  display: block;
  box-sizing: border-box;
  padding: 3%;
  margin: 0.2%;
  color: #fff;
}
.social-media li a i{
  font-size: 20px;
}
.social-media li:nth-child(1) a{
  background-color: #3b5998;
}
.social-media li:nth-child(2) a{
  background-color: #55acee;
}
.social-media li:nth-child(3) a{
  background-color: #dd4b38;
}
.map-block{
  padding: 2% 0;
}